* {
  margin: 0;
  padding: 0;
}

/* Bootstrap colors overide */
.greenColor {
  color: #214b4f;
}
.greenBackground {
  background-color: #214b4f;
  color: white;
}

.redColor {
  color: #e55151;
}

.redBackground {
  background-color: #e55151;
  color: white;
}
.yellowColor {
  color: #f9e4ad;
}

.yellowBackground {
  background-color: #f9e4ad;
  color: black;
}

.notificationColor {
  color: #4ab740;
}
.notificationBackground {
  background-color: #4ab740;
  color: white;
}

/* nav links on hoover effects */
.navbar-nav .nav-link {
  font-weight: bold;
}
.custom-nav-link {
  position: relative;
}
.custom-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E77F55;
  transition: width 0.3s ease;
}
.custom-nav-link:hover::after {
  width: 65%;
}

.nav-link.active.custom-nav-link {
  color: #E77F55;
}

/* overide drop down color of active and focus  */
.dropdown-item:active,
.dropdown-item:focus {
  color: white !important;
  background-color: #214b4f;
}

/* Why choose us */

.why-choose-us-container{
    margin-top: 10rem;

    padding: 20px;
   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-item img{
    border-radius: 10px;
}
.hero-text {
  text-align: start;
}

.highlight-text { font-size: 1.2rem; 
    font-weight: bolder; 
 }


 /* Our Services */

 .our-fleet-text {
    position: relative;
    display: inline-block;
    text-align: center;
}

.our-fleet-text::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 65%;
    height: 4px;
    background-color: #E77F55;
    transform: translateX(-70%);
}

/* Footer */
.footer{
    background-color: #214b4f;
    color: white;
    height: 40vh;
    margin-top: 10rem;
}
.custom-link { 
    display: block; 
     color: white; 
     text-decoration: none; 
      margin-bottom: 5px; 
}
.navbar-brand{
  display: none;
  max-width: 50px;
  height: auto;
}

#header{
  height: 40vh;
}

#feature-section .row{
  display:flex;
  margin: 10%;
  
}

 .row .col{
display: flex;
align-items: center;
}

.row .col h3{
  text-align: center;
 margin-bottom: 50px;
}
.row .col .col1{
  margin: 7%;
}

.row .col .col2 img{
  margin: 7%;
  border-radius: 15px;
}

.container .container-row{
  display: flex;
}

.container .container-row img{
  width: 150px;
}


/*----------------------------about page css--------------------------*/
